{% extends "AppBundle:Todo:index.html.twig" %}

<a href="#"></a>
{% block content %}

{% for todos in todo %}


<div class="row todo">
    <div class="col-sm-11">
        <div class="panel panel-default">
            <div class="panel-body">
                <em>{{ todos.date|date }}</em>
                  {{ todos.content }}
            </div>
        </div>
    </div>
    <div class="col-sm-1">
        <p>
            {# Bouton de restauration #}
            <a href="{{ path('todo_restore',{'id': todos.id}) }}" class="btn btn-xs btn-primary">
                <span class="glyphicon glyphicon-repeat"></span>
            </a>
            {# Bouton de suppression #}
            <a href="{{ path('todo_remove',{'id': todos.id}) }}" onclick="return confirm('Confirmer la suppression ?')" class="btn btn-xs btn-danger">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
        </p>
    </div>
</div>
{% endfor %}

{% endblock content %}